.note_random {
    max-height: calc(100vh - 110px);
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #0c5295;
    border-radius: 4px;
    white-space: pre-line;
    overflow-y: scroll;
    span {
        vertical-align: middle;
    }
    .note_cont {
        word-break: break-all;
    }
}

.h2 {
    display: flex;
    justify-content: space-between;
}