.drawer {
    :global {
        .ant-drawer-content,
        .ant-drawer-header,
        .ant-drawer-title,
        .ant-radio-button-wrapper,
        .ant-drawer-body,
        .ant-drawer-footer {
            color: #a6adb4;
            background-color: #001529;
        }
        .ant-drawer-header {
            border-color: white;
        }
        .ant-drawer-body {
            padding: 12px;
        }
    }
}
