.edit_todo {
    overflow-x: hidden;
}

.edit_todo :global(.ant-form-item) {
    margin-bottom: 10px;
}

.edit_todo :global(.ant-form-item-label > label) {
    color: #a6adb4;
}

.edit_todo :global(.ant-radio-wrapper) {
    color: #a6adb4;
}

.edit_todo :global(textarea.ant-input) {
    color: #a6adb4;
    background-color: #001529;
}

.edit_todo :global(.anticon.ant-input-clear-icon) {
    color: #a6adb4 !important;
}

.edit_todo :global(.ant-input) {
    &::placeholder {
        color: #a6adb4;
    }
}

.edit_todo :global(.ant-btn-default) {
    color: #a6adb4;
    background-color: #001529;
}

.searchTodo {
    :global {
        .ant-select-selector {
            width: unset !important;
        }
    }
}

.showAll {
    display: flex;
    justify-content: center;
    span {
        vertical-align: middle;
    }
    :global {
        .ant-btn-text,
        .ant-btn-text:not(:disabled):hover {
            color: #a6adb4;
        }
    }
}

