.TodoFormDrawer {
    :global {
        .ant-drawer-body {
            overflow-y: auto;
        }
    }
}

.titleClass {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
}