.cloud {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
}

.folder {
    display: inline-flex;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: top;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    word-break: break-all;
    font-size: 12px;
    .icon {
        margin-bottom: 5px;
        font-size: 24px;
    }
}
