.edit_todo :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    color: #a6adb4;
    background-color: #001529;
}

.edit_todo :global(.ant-radio-button-wrapper) {
    color: #a6adb4;
    background-color: #001529;
}