.index {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;

    .route_item {
        flex: 1 1 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: calc(33% - 13px);
        height: 33vw;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
        border: 2px solid #a6adb4;
        border-radius: 8px;
        margin-right: 15px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        > a {
            color: #a6adb4;
        }
    
        .icon {
            font-size: 46px;
        }
    }
}
