.index {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;

    .route_item {
        flex: 1 1 23vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: calc(24% - 11px);
        height: 21vw;
        margin-bottom: 13px;
        margin-right: 13px;
        font-size: 13px;
        font-weight: bold;
        border: 2px solid #a6adb4;
        border-radius: 8px;
        &:nth-child(4n) {
            margin-right: 0;
        }
        > a {
            color: #a6adb4;
        }
    
        .icon {
            font-size: 34px;
        }
    }
}
