.musicPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.playerBox {
    width: 80vw;
    border-radius: 8px;
    border: 1px solid #a6adb4;
}