.pool span {
    vertical-align: middle;
}

.h2 {
    display: flex;
    justify-content: space-between;
}

.list > div {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

