.todo span {
    vertical-align: middle;
}

.h2 {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #a6adb4;
}

.time.today {
    color: #1890ff;
}

.time.previously {
    color: red;
}

.time.future {
    color: grey;
}

.one_day {
    margin-bottom: 8px;
}
.one_day > div {
    margin-bottom: 10px;
}

.desc {
    vertical-align: middle;
    margin-left: 5px;
}